@model FlowHouse.Models.Polozka

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Polozka</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nazev)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nazev)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cena)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cena)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pocet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pocet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatumNaskladneni)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatumNaskladneni)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PolozkaID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
