@model FlowHouse.Models.ViewModels.InstructorIndexData

@{
    ViewData["Title"] = "Index";
}

<h1>Prodavači</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Hire Date</th>
            <th>Office</th>
            <th>Courses</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Prodavaci)
        {
            string selectedRow = "";
            if (item.ProdavacID == (int?)ViewData["InstructorID"])
            {
                selectedRow = "table-success";
            }
            <tr class="@selectedRow">
                <td>
                    @Html.DisplayFor(modelItem => item.Prijmeni)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Jmeno)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HireDate)
                </td>
                <td>
                    @if (item.Pobocka != null)
                    {
                        @item.Pobocka.Location
                    }
                </td>
                <td>
                    @foreach (var course in item.ProdejZadani)
                    {
                        @course.Polozka.PolozkaID @course.Polozka.Nazev<br />
                    }
                </td>
                <td>
                    <a asp-action="Index" asp-route-id="@item.ProdavacID">Select</a> |
                    <a asp-action="Edit" asp-route-id="@item.ProdavacID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ProdavacID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ProdavacID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
